<div class="collection-form p-5">
  <%= simple_form_for [meme, @collect] do |f| %>
    <p>Add this meme to one of your collections:</p>
    <!-- retrieve user's collections only -->
    <%= f.association :collection %>

    <!-- <p>Or create a new collection for this meme:</p> -->
    <%#= f.simple_fields_for :category do |category| %>
      <%#= category.input :name, label: "New category", placeholder: 'New category name...' %>
    <%# end %>
    <br>
    <%= f.submit 'submit', class: "btn btn-primary text-white" %>
  <% end %>
</div>
