<div class="row p-4 d-flex justify-content-center">
  <div class="user-memes-section col-10 p-3">
  <h4><%= @user.memes.count %> meme(s)</h4>
  <hr>
    <div class="collection-section">
      <div class="meme-collection-cards">
        <% @user.memes.each do |collection_meme| %>
          <div class="catcol-card border-0 d-flex flex-column justify-content-center align-items-center row">
            <%= render partial: 'memes/meme_flip_card', collection: [collection_meme], as: :meme %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
