<div class="user-dashboard-title row red-testing">
  <div class="col-12">
    My Memes
  </div>
</div>

<div class="user-memes-section row green-testing">
  <div class="col-12">
    Memes
  </div>
</div>
