<div class="row p-3">
  <div class="user-dashboard-title col-2">
    <h2>My Memes</h2>
  </div>

  <div class="user-memes-section col-10 p-4">
  <%= @user.memes.count %> meme(s)
  <hr>
    <div class="collection-section">
      <div class="meme-collection-cards">
        <% @user.memes.each do |collection_meme| %>
          <div class="catcol-card border-0 d-flex flex-column justify-content-center align-items-center row">
            <%= render partial: 'memes/meme_flip_card', collection: [collection_meme], as: :meme %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
