<div class="user-dashboard-title row p-3 red-testing">
  <div class="col-12">
    <h2>My Account:</h2>
  </div>
</div>

<div class="user-collections-section row green-testing">
  <div class="col-12 m-0 p-3">

    Collections
  </div>
</div>

