// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//Memento
$memento-purple: #3B0655;
$memento-dark-gray: #535353;
$engagement-pink: #ED877D;
$collection-blue: #96DCEA;
$creation-orange: #E3AE64;
