<div class="left-sidebar col-md-2 d-none d-lg-flex">
  <div class="left-sidebar-container p-3">
    <!-- User details -->
    <div class="user-section">
      <div class="user-l-sidebar-info">
        <!-- Presents login form if not logged in -->
        <% if current_user.nil? %>
          <%= render 'shared/sidebar/left_sidebar_login' %>
        <% else %>
          <h3><%= current_user.username %></h3>
          <img class="user-l-sidebar-info-image m-0">

            <h3><%= current_user.dank_rank.total_score %></h3>
            <div class="dank-bar">
              <span class="badge badge-pill badge-primary dank-filler">  </span>
              <!-- <span class="badge badge-pill badge-light dank-full">  </span> -->
            </div>
          <p>89 / 123 unil next rank!</p>
        <% end %>
      </div>
    </div>

    <!-- Collections list -->
    <div class="collection-list-section">

    </div>

    <!-- Categories list -->
    <div class="category-list-section">

    </div>
  </div>
</div>
