<div class="right-sidebar">
  <!-- Leaderboard -->
  <div class="meme-info-section red-testing">
    <%= render 'shared/components/meme_info' %>
  </div>
  <!-- Meme upload section -->
  <div class="creation-section blue-testing">
    comments
    <%#= render 'shared/components/creation_card' %>
  </div>
</div>
