<div class="right-sidebar">
  <!-- Meme info -->
  <div class="meme-info-section">
    <%= render 'shared/components/meme_info' %>
  </div>
  <!-- Meme comments section -->
  <div class="comments-section d-flex flex-column align-items-start">
    <%= render 'shared/components/meme_comments' %>
  </div>
</div>
