<div class="right-sidebar">
  <!-- Leaderboard -->
  <div class="leaderboard-section">
    <%= render 'shared/components/leaderboard' %>
  </div>
  <!-- Meme upload section -->
  <div class="creation-section">
    <%#= render 'shared/components/creation_card' %>
  </div>
  <!-- Option buttons -->
  <div class="extras-section">
    <%= render 'shared/components/extra_buttons' %>
  </div>
</div>
