<h1>Memes#index</h1>
<p>Find me in app/views/memes/index.html.erb</p>

<div class="row border">
  <div class="left-sidebar col-2 border">
    <h2>Left sidebar </h2>
    <%= render 'shared/sidebar/left_sidebar' %>
  </div>

  <div class="memes-index-content col-10 border">
    <div class="row">
      <div class="carousel">
        <h2>Carousel</h2>
        <% @top_categories.each do |category| %>
          <%= render partial: 'shared/cards/category_card', collection: [category], as: :category %>
        <% end %>
      </div>  
    </div>

    <div class="row border">
      <div class="memes-feed col-9 border">
        <h2>Meme feed</h2>       
        <div class="memes-cards-scroll">
          <div class="memes-card border">
            <h2>Meme card</h2>
          </div>
          <div class="memes-card border">
            <h2>Meme card</h2>
          </div>
        </div>
      </div>

      <div class="memes-toggle col-1 border">
        <h2>Meme toggle</h2>
      </div>

      <div class="right-sidebar col-2 border">
        <div class="leaderboard border">
          <h2>Leaderboard</h2>
        </div>

        <div class="sidebar-meme-post-card border">
          <h2>Meme post card</h2>
        </div>
      
      </div>
    </div>

  </div>
    
</div>
