<div class="row">
  <!-- Left sidebar -->
  <%= render 'shared/sidebar/left_sidebar' %>

  <!-- Main interface -->
  <div class="meme-main-interface row m-0 p-0">
    
    <!-- Title bar -->
    <div class="memes-actions col-sm-12 col-lg-8 m-0">
      <%= link_to 'Back', memes_path %>
    </div>
      
    <!-- Meme upload form -->
    <div>
      <h3>Upload a meme!</h3>
      <%= render 'memes/meme_form' %>
    </div>
    
  </div>
</div>
