<h1>Memes#show</h1>
<p>Find me in app/views/memes/show.html.erb</p>

<div class="row">
    <div class="left-sidebar col-2">
    </div>

    <div class="memes-show-content col-10">

      <div class="row">
        <div class="memes-show-left-subcontent col-8">

            <div class="memes-show-left-subcontent-menu">
                <div class="memes-show-left-subcontent-menu-options">
                </div>
            </div>

            <div class="memes-big-card">
            </div>

        </div>

        <div class="memes-show-right-subcontent col-4">

            <div class="meme-action-btns">
            </div>

            <div class="meme-creator-info">
            </div>

            <div class="meme-comments">
                <div class="meme-comment-cards">
                </div>
                <div class="comment-form">
                </div>
            </div>
        </div>

      </div>

    </div>
</div>
