<div class="content-dashboard row m-0">
  <!-- Left sidebar -->
  <%= render 'shared/sidebar/left_sidebar' %>
  
  <!-- Users section -->
  <div class="users-section" row m-0">
    <div class="leaderboard card p-3 border-0 shadow text-center d-flex justify-content-top">
    <h3>Our users</h3>
      <div class="pl-3">
        <% @users.each do |user| %>
          <div class="d-flex align-items-center">
            <img class="avatar"/> <%= user.username %>
            &nbsp<span class="badge badge-primary"><i class="fas fa-skull-crossbones"></i> <%= user.dank_rank.total_score %></span>
            &nbsp<span class="badge badge-secondary"> <%= user.followers.count %> <i class="fas fa-user"></i></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

