<div class="content-dashboard row m-0 p-0">
  <!-- Left Dashboard -->
  <div class="col-0 col-lg-2 p-0 d-none d-lg-flex flex-column">
    <div class="left-dashboard red-testing">
      <%= render 'shared/sidebars/left_sidebar' %>
    </div>
  </div>

  <!-- Middle and Right Sections -->
  <div class="col-md-12 col-lg-10 p-0 d-flex flex-column">
    <!-- Categories topbar: Comment out when not in use -->
    <div class="dashboard-carousel row m-0 p-0 d-none d-lg-flex grey-testing">

    </div>
    <!-- Right Dashboard -->
    <div class="right-dashboard row m-0 p-0 mt-3">
      <!-- Leaderboard window -->
      <%= render 'shared/components/leaderboard_user_index' %>

      <!-- Right side bar -->
      <div class="col-0 col-md-0 col-lg-4 d-none d-lg-flex flex-column">
      </div>
    </div>


  <!-- Mobile lower bar menu -->
  <div class="d-block d-lg-none mobile-dash-menu green-testing">
  </div>
</div>

