<div class="content-dashboard row m-0 p-0">
  <!-- Left Dashboard -->
  <div class="col-0 col-lg-2 p-0 d-none d-lg-flex flex-column">
    <div class="left-dashboard red-testing">
    </div>
  </div>

  <!-- Middle and Right Sections -->
  <div class="col-md-12 col-lg-10 p-0 d-flex flex-column">
    <!-- Categories topbar -->
    <div class="dashboard-carousel row m-0 p-0 d-none d-lg-flex grey-testing">

    </div>
    <!-- Right Dashboard -->
    <div class="right-dashboard row m-0 p-0 green-testing">
      <div class="col-12 col-md-12 col-lg-8 blue-testing">

      </div>
      <div class="col-0 col-md-0 col-lg-4 d-none d-lg-flex flex-column purple-testing">

      </div>
    </div>
  </div>

  <div class="d-block d-lg-none mobile-dash-menu green-testing">

  </div>
</div>
