<div class="container">
  <section>
    <h2>Category card</h2>
    <div class="category-card">

    </div>

  </section>
  <hr />

  <section>
    <h2>Feed card (meme)</h2>

    <div class="feed-card card">
      <h2 class="feed-card-title">Title</h2>
      <img class="feed-card-image" src="asdfasdf" />
      <div class="feed-card-actions">

      </div>
    </div>

  </section>
  <hr />

  <section>
    <h2>Carousel</h2>


  </section>
  <hr />
  <section>
    <h2>Comment</h2>


  </section>
  <hr />
  <section>
    <h2>Comment form</h2>


  </section>
  <hr />
  <section>
    <h2>Meme actions</h2>


  </section>
  <hr />
 </div>
