<div class="container">
  <h1>Components</h1>
  
  <section>
    <h2>Carousel</h2>
    <p>_carousel.html.erb</p>

    <div class="carousel">
    
    </div>

  </section>
  <hr />

  <section>
    <h2>Layout toggle</h2>
    <p>_layout_toggle</p>
    
    <div class="layout-toggle">
    </div>

  </section>
  <hr />

  <section>
    <h2>Comment form</h2>
    <p>_comment_form.html.erb</p>

    <div class="comment-form">
    
    </div>

  </section>
  <hr />

  <section>
    <h2>Meme action buttons</h2>
    <p>_meme_action_buttons.html.erb</p>

    <div class="meme-action-buttons">
    
    </div>

  </section>
  <hr />

  <section>
    <h2>Titlebar back</h2>

    <div class="titlebar-back">
    
    </div>

  </section>
  <hr />
 </div>

<br />

<div class="container">
  <h1>Sidebar</h1> 

  <section>
    <h2>Left sidebar</h2>
    <p>_left_sidebar.html.erb</p>

    <div class="left-sidebar">
      we will render the sidebar passing in user params that we want here. 2 views: Meme show view and user show view.

    </div>

  </section>
  <hr />

  <section>
    <h2>Right sidebar</h2>
    <p>_right_sidebar.html.erb</p>

    <div class="right-sidebar">

    </div>

  </section>
  <hr />

  <section>
    <h2>Sidebar user info</h2>
    
    <div class="Sidebar-user-info">
    
    </div>
  
  </section>
  <hr />

  <section>
    <h2>Sidebar main menu</h2>
    
    <div class="sidebar-main-menu">
    
    </div>
  
  </section>
  <hr />

  <section>
    <h2>Sidebar meme post card</h2>
    <p>_sidebar_meme_post_card.html.erb</p>

    <div class="sidebar-meme-post-card.html">

    </div>

  </section>
  <hr />

</div>
<br />

<div class="container">
  <h1>Cards</h1>

  <section>
    <h2>Category card</h2>
    <p>_category_card.html.erb</p>

    <div class="category-card">

    </div>

  </section>
  <hr />

  <section>
    <h2>Meme card</h2>
    <p>_meme_card.html.erb</p>

    <div class="meme-card card">
      <h2 class="meme-card-title">Title</h2>
      <img class="meme-card-image" src="asdfasdf" />
      <div class="meme-card-engagement">

      </div>
    </div>

  </section>
  <hr />

  <section>
    <h2>leaderboard</h2>
    <p>_leaderboard.html.erb</p>

    <div class="leaderboard">

    </div>

  </section>
  <hr />

  <section>
    <h2>Comment_card</h2>
    <p>_comment_card.html.erb</p>

    <div class="comment-card">
    
    </div>

  </section>
  <hr />

  <section>
    <h2>Comment user info card</h2>

    <div class="comment-user-info-card">
    
    </div>

  </section>
  <hr />

</div>
