.creation-section {
  // background-color: #DDD;
  flex: 1;
  display: flex;
  // align-content: end;
  flex-direction: column;
  justify-content: flex-end;
}

.creation-card {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 250px;
  background-color: #39095F;
  border-radius: 16px;
  opacity: 0.4;
  // color: white;
  background-color: #39095F;
  transition: 0.5s;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    border-style: dashed;
    border-width: 5px;
    border-color: #39095F;
    opacity: 0.6;
  }
}
