.extras-section {

}

.extra-buttons {

}

.extra-button {
  // height: 50px;
  // width: 50px;
  margin-left: 15px;
  a {
    color: $memento-dark-gray;
    transition: 0.3s;
    &:hover {
      color: #777;
    }
  }
}
