#leaderboard-meme-index {
  .leaderboard-card {
    // border: 1px solid #dcdcdc;
    // border-radius: 12px;
    // line-height: 2;
  }

  .leaderboard-card-body {
    a {
      text-decoration: none;
      font-size: 13px;
    }
  }

  .leaderboard-card-see-all {
    a {
      border-radius: 12px;
      background-color: #39095f;
      color: white;
      padding: 8px 9px;
      text-decoration: none;
    }
  }
}
