<div class="comment-card">
  <div class="row">

    <div class="comment-profile-img">
      <img src="" alt="">
    </div>

    <div class="comment-content">
      <!-- need to link comment contents here -->
    </div>

  </div>
</div>s
