body {
  background-color: #fff;
}

///////////// PROPERRR STUFFFF ////////////////

.interface {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content-dashboard {
  flex: 1;
}

.left-dashboard {
  flex: 1;
}
.right-dashboard {
  flex: 1;
}
.dashboard-carousel {
  height: 80px;
}

.mobile-dash-menu {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

///////////// PROPERRR STUFFFF ////////////////

// Stuff to clean up alter!!
.categories-carousel {
  background-color: #fff;
  z-index: 2;
}
.layout-toggle {
  background-color: #fff;
}
.avatar {
  height: 32px;
  width: 32px;
  margin: 5px;
  border-radius: 50%;
  background-color: #ddd;
}
