body {
  background-color: #FFF;
}
.interface {
  // background-color: #DDD;
  display: flex;
  flex-direction: column;
  height: 100vh;
  // width: 100vh;
}

.content-dashboard {
  // background-color: #BBB;
  flex: 1;
}

.categories-carousel {
  background-color: #FFF;
  z-index: 2;
}

.layout-toggle {
  background-color: #FFF;
}

.avatar {
  height: 32px;
  width: 32px;
  margin: 5px;
  border-radius: 50%;
  background-color: #DDD;
}
