.meme-content {
  flex: 1;
}
.memes-feed {
  background-color: #FFF;
  flex: 1;
}

.meme-scroll-window {
  max-height: 800px;
  width: 100%;
  overflow: scroll;
}

.meme-view {
  flex: 1;
}

.index-meme-card {
  max-width: 500px;
  margin: 25px;
}

.meme-show-window {
  flex: 1;
  height: 800px;
  width: 100%;
  justify-content: center;
  overflow: scroll;
}
