.navbar-memento {
  justify-content: space-between;
  background-color: black;
}

.navbar-memento .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo {
  padding: 20px;
}

//Nav search bar
.nav-search-bar {
  border: none;
  color: #b8b8b8;
  padding: 3px 10px 3px 10px;
  border-radius: 25px;
  font-size: 16px;
  &:focus {
    outline: none;
  }
  .button {
    &:focus {
      outline: none;
    }
  }
}

.navbar-brand img {
  position: absolute;
  z-index: 2;
  left: 18%;
  width: 160px;
}
