.right-sidebar {
  flex: 1;
  // height:auto;
  max-height:100%;
  display: flex;
  flex-direction: column;
}

.extras-section {
  // background-color: #CCC;
  color: #CCC;
  text-align: right;
  font-size: 32px;
}

.scrollDiv {
    height:auto;
    max-height:150%;
    overflow:auto;
}
