// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Sweet alert
@import "components/sweet-alert-stylings";

// body {
//   background-color: $memento-dark-gray;
// }

h4, h5, h6 {
  color: #535353;
  font-family: Ubuntu;
}

.red-testing {
  background-color: #F0ABAB;
}

.blue-testing {
  background-color: #ABBBF0;
}

.green-testing {
  background-color: #ABF0AE;
}

.purple-testing {
  background-color: #C8ABF0;
}

.grey-testing {
  background-color: #D8D8D8;
}
