<div class="content-dashboard row m-0">
  <!-- Left side bar -->
  <%= render 'shared/sidebars/left_sidebar' %>

  <!-- Categories section -->
  <div class="col-md-10 p-0 d-flex flex-column">
    <div class="row m-0 p-0 d-none d-lg-flex">
      <div class="col-12 m-0 p-0">
        <div class="categories-carousel p-3">
          <% @categories.each do |category| %>
            <a href="<%= category_path(category) %>">
              <button type="button" class="btn btn-primary btn-sm"><%= category.name %>
                <span class="badge badge-secondary"> <%= category.memes.count %> <i class="fas fa-images"></i></span>
              </button>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

