<div class="content-dashboard row m-0">
  <!-- Left Sidebar -->
  <%= render "shared/sidebar/left_sidebar" %>

  <!-- Middle and Right Sections -->
  <div class="col-md-10 p-0 d-flex flex-column">

    <!-- Title Bar -->
    <div class="memes-titlebar m-0">
      <h1><%= @category.name %></h1>
    </div>

    <!-- Middle Section -->
    <div class="memes-content d-none d-md-flex flex-column m-0 p-0">

      <!-- Memes Feed Grid -->
      <div class="tab-pane" id="v-pills-memes" role="tabpanel" aria-labelledby="v-pills-memes-tab">
        <div class="category-memes-board">
          <div class="row">
            <div class="card-columns col-12 mt-4 justify-content-space-between">
              <%= render partial: "/memes/meme_feed_card", collection: @memes, as: :meme %>
            </div>
          </div>
        </div>
      </div>

    <!-- Right Sidebar -->
    <div class="col-sm-0 col-2 d-none d-md-flex flex-column p-0">
      <!-- Meme upload section -->
      <div class="creation-section">
        <div class="creation-card p-3 stretch-link">
          <p class="btn btn-primary"><%= link_to "Upload a meme", new_meme_path(@category), class: "text-white" %></p>
        </div>
      </div>  
    </div> 

  </div>
</div>

