<div class="categories-carousel">
  <div class="row m-0 p-0">
    <!-- Categories list (scrollable) section -->
    <div class="col-10 m-0 p-0">
      <div class="scrolls">
        🔥
        <% @top_categories.each do |category| %>
          <%= link_to "\##{category.name.gsub(/\s+/, "")}".downcase, category_path(category) %>
          <span class="badge badge-secondary mr-2"> <%= category.memes.count %> <i class="fas fa-images"></i></span>
        <% end %>
      </div>
    </div>
    <!-- View categories secion -->
    <div class="view-categories-section col-2 d-flex align-items-center m-0 p-0">
      <!-- Potentially move this button into left sidebar  -->
      <%= link_to "View all categories", categories_path %>
    </div>
  </div>
</div>
