<div class="comment-form">
  <div class="row">

    <div class="comment-profile-img">
      <img src="" alt="">
    </div>

    <div class="comment-form-input">
      <form action="" class="comment-input-form">
      </form>
    </div>

  </div>
</div>
