<div class="d-flex justify-content-end pr-3 pb-1">
  <div class="extra-button">
    <a href=""><i class="fas fa-plus-circle"></i></a>
  </div>
  <div class="extra-button">
    <a href=""><i class="fas fa-comments"></i></a>
  </div>
  <div class="extra-button">
    <a href=""><i class="fas fa-cog"></i></a>
  </div>
</div>
