<!-- Leaderboard -->
<div id="leaderboard-meme-index" class="d-block justify-content-top p-1">
  <div class="leaderboard-card">
    <h5 class="leaderboard-card-title font-weight-bold pt-3 text-center">Most Dank</h5>
    <div class="leaderboard-card-body align-items-center pl-1 pr-3">
      <%= render 'shared/components/users_list' %>
    </div>
    <div class="leaderboard-card-see-all mt-3 text-center">
      <%= link_to "Dank more", users_path %>
    </div>
  </div>
</div>
