<!-- Leaderboard user index -->
<div class="col-4 col-md-4 col-lg-3 justify-content-between">
  <div class="d-block justify-content-between p-2">
    <div class="leaderboard-card card">
      <h5 class="leaderboard-card-title card-title font-weight-bold pt-3 text-center">Overall Dank Leaders</h5>
      <div class="leaderboard-card-body card-body">
        <%= render @top_ten_users %>
      </div>
    </div>
  </div>
</div>

<div class="col-4 col-md-4 col-lg-3 justify-content-between">
  <div class="d-block justify-content-between p-2">
    <div class="leaderboard-card card">
      <h5 class="leaderboard-card-title card-title font-weight-bold pt-3 text-center">Creativity Dank Leaders</h5>
      <div class="leaderboard-card-body card-body">
        <%= render @top_ten_users %>
      </div>
    </div>
  </div>
</div>

<div class="col-4 col-md-4 col-lg-3 justify-content-between">
  <div class="d-block justify-content-between p-2">
    <div class="leaderboard-card card">
      <h5 class="leaderboard-card-title card-title font-weight-bold pt-3 text-center">Engagement Dank Leaders</h5>
      <div class="leaderboard-card-body card-body">
        <%= render @top_ten_users %>
      </div>
    </div>
  </div>
</div>

<div class="col-4 col-md-4 col-lg-3 justify-content-between">
  <div class="d-block justify-content-between p-2">
    <div class="leaderboard-card card">
      <h5 class="leaderboard-card-title card-title font-weight-bold pt-3 text-center">Collection Dank Leaders</h5>
      <div class="leaderboard-card-body card-body">
        <%= render @top_ten_users %>
      </div>
    </div>
  </div>
</div>
