<div>
  <h6>Comments:</h6>
  <div class="meme-comments p-3 blue-testing">
    <% @meme.comments.each do |comment| %>
      <%= render partial: 'shared/atoms/comment_strip', collection: [comment], as: :comment %>
    <% end %>
  </div>
</div>

<div class="meme-comment-form p-3 red-testing">
  <h6>Add a comment</h6>
  <% @comment = Comment.new %>
  <%= simple_form_for [@meme, @comment] do |f| %>
    <%= f.input :content, label: false, placeholder: 'New comment...' %>
    <br>
    <%= f.submit 'submit', class: "btn btn-primary text-white" %>
  <% end %>
</div>

