<div class="meme-info p-3">
  <div class="meme-user-info d-flex align-items-center">
    <%= render 'shared/atoms/user_avatar' %>
    <p class="m-0"> <%= link_to @meme.user.username, user_path(@meme.user) %> </p>
  </div>
  <div class="meme-stats">
    <div class="engagement-stat mr-3">
      <p>Likes: <%= @meme.likes.count %></p>
    </div>
    <div class="collection-stat mr-3">
      <p>Collected: <%= @meme.collects.count %></p>
    </div>
  </div>
</div>
