<h6 class= "meme-comment-header">Comments</h6>
<div id="comments">
  <% if @meme.comments.blank? %>
    Be the first to leave a comment for <%= @meme.title %>
    <div class="meme-comments">
    </div>
  <% else %>
    <div class="meme-comments">
      <% @meme.comments.each do |comment| %>
        <%= render partial: 'shared/atoms/comment_strip', collection: [comment], as: :comment %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="meme-comment-form p-3">
  <h6>Add a comment</h6>
  <%= render partial: 'shared/components/comment_form', meme: @meme, comment: @comment %>
</div>
