<%= simple_form_for :search, url: root_path, method: :get, class: "form-inline my-2 my-lg-2" do |f| %>
    <%= text_field_tag :query,
      params[:query],
      class: "nav-search-bar",
      placeholder: "Search categories..."%>
    <button name="button" tpe="submit" class="btn btn-flat">
      <i class="fas fa-search" style="color: #FFF;"></i>
    </button>
<% end %>
